.upload {
  /* Add any styles for the container div */
  /* background-color: grey; */
}

.div1 {
  /* Add any styles for the first inner div */
  background-color: lightgray;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 60vw;
}

.div2 {
  /* Add any styles for the second inner div */
  /* border: 2px solid blue; */
}

.drop {
  border: 2px solid black;
  border-radius: 4px;
  padding: 30px;
  text-align: center;
  /* cursor: pointer; */
  margin: 20px 0;
}

.icon {
  /* Add any styles for the cloud upload icon */
width: 100px;
height: 80px;
}

.browse {
  cursor: pointer;
}

.trash{
  cursor: pointer;
}
.loading-indicator {
  /* Add any styles for the loading indicator */
}

.uplaoded {
  /* Add any styles for the uploaded files section */
}

button {
  /* Add any styles for the button */
}

/* You can add more styles as needed */
